__pycache__/primerosysiguientes.cpython-311.pyc
__pycache__/Generador CLR.cpython-311.pyc
__pycache__/generator_lr.cpython-311.pyc
__pycache__/ParGen_gui.cpython-311.pyc
__pycache__/firstandfollows.cpython-311.pyc
__pycache__/generator_clr.cpython-311.pyc
__pycache__/generator_lalr.cpython-311.pyc
__pycache__/generator_ll.cpython-311.pyc
.idea/